<div class="contact" id="contact">
    <div class="wrapper">
        <div class="timer">
            <span>0:09</span>
        </div>
        <div class="board">
            <div class="info">
                <div class="line facebook hidden">
                    <img src="img/icon_fb.svg" alt="facebook ikona"/>
                    <a href="#">Digital Sharks</a>
                </div>
                <div class="line phone">
                    <img src="img/icon_phone.svg" alt="telefon ikona"/>
                    <span>+7(992) 334 01 54</span>
                    <span class="time">с 10:00 до 22:00</span>

                </div>
                <div class="line email">
                    <img src="img/icon_email.svg" alt="email ikona"/>
                    <a href="mailto:optimagp66@gmail.com">optimagp66@gmail.com</a>
                </div>
                <div class="line email">
                    <img src="img/icon_email.svg" alt="email ikona"/>
                    <span>@jessyjames721 - телеграмм</span>
                </div>
                <div class="line address">
                    <img src="img/icon_address.svg" alt="adresa ikona"/>
                    <span>Digital shark</span>
                    <span class="street">Малышева 24, офис 56<span class="comma">, </span></span>
                    <span class="city">Екатеринбург, <span class="comma">&nbsp;</span></span>
                    <span class="state">Свердловская область</span>

                </div>
            </div>
            <div id="map_canvas"></div>
            <div class="clearfix"></div>
        </div>

    </div>
        <img src="img/packed.svg" class="jano"/>
        <object id="svg-train" type="image/svg+xml" data="img/train.svg">Ваш браузер не поддерживает SVG</object>
</div>
