<div class="dropdown menu-dropdown show-on-small h">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Меню
  <span class="caret"></span></button>
  <ul class="dropdown-menu ">
	<li> <a data-turbolinks="false" href="/seo">SEO</a> </li>
	<li> <a data-turbolinks="false" href="/direct">Яндекс direct</a> </li>
	<li> <a data-turbolinks="false" href="/smm">SMM</a> </li>
	<li> <a data-turbolinks="false" href="/mobile">Мобильные приложения</a> </li>
	<li> <a data-turbolinks="false" href="/contacts">Контакты</a> </li>

  </ul>
</div>
