<div class="logo">
    <a href="/">
    <img src="img/logo6.svg">
    </a>
</div>
    
<div class="nav">
    <div class="menu-links" >
        <a class="menu-links-a" data-turbolinks="false" href="/seo">SEO</a>
        <a class="menu-links-a" data-turbolinks="false"  href="/direct">Яндекс direct</a>
        <a class="menu-links-a" data-turbolinks="false"  href="/smm">SMM</a>
        <a class="menu-links-a" data-turbolinks="false"  href="/mobile">Мобильные приложения</a>
        <a class="menu-links-a" data-turbolinks="false" href="/contacts">Контакты</a>
        <%=render "shared/dropdown"%>
    </div>  
    <%=render "shared/dropdown"%>
        <svg class="menu-bg" version="1.1" id="menu_open" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        	 width="200px" height="80px" xml:space="preserve">
        		<polygon class="menu" fill="#282126" points="300,0 0,0 40,80 200,80"/>
        		<svg class="menu-button" width="64" height="64" x="125" y="4" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">
        		    <g>
        		        <rect width="64" height="54" fill="#282126"></rect>
        		    </g>
                	<g>
                    	<path fill="none" stroke="#FFFFFF" stroke-width="5.3" stroke-linecap="square" stroke-linejoin="bevel" d="M16.1,19.8h31.8"/>
                    	<path fill="none" stroke="#FFFFFF" stroke-width="5.3" stroke-linecap="square" stroke-linejoin="bevel" d="M16.1,31.9h31.8"/>
                    	<path fill="none" stroke="#FFFFFF" stroke-width="5.3" stroke-linecap="square" stroke-linejoin="bevel" d="M16.1,44h31.8"/>
                    </g>
                </svg>
        </svg>
    

        <svg version="1.1" class="menu-bg-small"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        	 width="140px" height="55px" xml:space="preserve">
            <polygon display="none" fill="#282126" points="90,0 0,0 0,242 90,242"/>
            <polygon class="menu" fill="#282126" points="140,0 0,0 27.1,54.2 140,54.2"/>
            <svg class="menu-button-small" width="48" height="48" x="85" y="3" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">
                <g>
                    <rect width="64" height="54" fill="#282126"></rect>
                </g>
                <g>
                    <path fill="none" stroke="#FFFFFF" stroke-width="5.3" stroke-linecap="square" stroke-linejoin="bevel" d="M16.1,19.8h31.8"/>
                    <path fill="none" stroke="#FFFFFF" stroke-width="5.3" stroke-linecap="square" stroke-linejoin="bevel" d="M16.1,31.9h31.8"/>
                    <path fill="none" stroke="#FFFFFF" stroke-width="5.3" stroke-linecap="square" stroke-linejoin="bevel" d="M16.1,44h31.8"/>
                </g>
            </svg>
        </svg>
       
</div>