<div class="business">
    <div class="wrapper small-text">
    
      
            <h2>Открытое общение</h2>
            <p>Создание и разработка сайта или мобильного приложения невозможна без обратной связи. Мы всегда готовы обсудить детали разработки и ответить на все возникающие вопросы.</p>
            <h2>Открытое общение</h2>
            <p>Создание и разработка сайта или мобильного приложения невозможна без обратной связи. Мы всегда готовы обсудить детали разработки и ответить на все возникающие вопросы.</p>
            <h2>Открытое общение</h2>
            <p>Создание и разработка сайта или мобильного приложения невозможна без обратной связи. Мы всегда готовы обсудить детали разработки и ответить на все возникающие вопросы.</p>
            <h2>Открытое общение</h2>
            <p>Создание и разработка сайта или мобильного приложения невозможна без обратной связи. Мы всегда готовы обсудить детали разработки и ответить на все возникающие вопросы.</p>
            <h2>Открытое общение</h2>
            <p>Создание и разработка сайта или мобильного приложения невозможна без обратной связи. Мы всегда готовы обсудить детали разработки и ответить на все возникающие вопросы.</p>
            <h2>Открытое общение</h2>
            <p>Создание и разработка сайта или мобильного приложения невозможна без обратной связи. Мы всегда готовы обсудить детали разработки и ответить на все возникающие вопросы.</p>
            <p>Создание и разработка сайта или мобильного приложения невозможна без обратной связи. Мы всегда готовы обсудить детали разработки и ответить на все возникающие вопросы.</p>
            <%= image_tag "mobile-app-development1.jpg"%>
            <p>Создание и разработка сайта или мобильного приложения невозможна без обратной связи. Мы всегда готовы обсудить детали разработки и ответить на все возникающие вопросы.</p>
            
            <p>Создание и разработка сайта или мобильного приложения невозможна без обратной связи. Мы всегда готовы обсудить детали разработки и ответить на все возникающие вопросы.</p>
            
            <p>Создание и разработка сайта или мобильного приложения невозможна без обратной связи. Мы всегда готовы обсудить детали разработки и ответить на все возникающие вопросы.</p>
            
            <p>Создание и разработка сайта или мобильного приложения невозможна без обратной связи. Мы всегда готовы обсудить детали разработки и ответить на все возникающие вопросы.</p>
            
            <p>Создание и разработка сайта или мобильного приложения невозможна без обратной связи. Мы всегда готовы обсудить детали разработки и ответить на все возникающие вопросы.</p>
            
            <p>Создание и разработка сайта или мобильного приложения невозможна без обратной связи. Мы всегда готовы обсудить детали разработки и ответить на все возникающие вопросы.</p>
            
            <p>Создание и разработка сайта или мобильного приложения невозможна без обратной связи. Мы всегда готовы обсудить детали разработки и ответить на все возникающие вопросы.</p>
            
            <p>Создание и разработка сайта или мобильного приложения невозможна без обратной связи. Мы всегда готовы обсудить детали разработки и ответить на все возникающие вопросы.</p>
            
            <p>Создание и разработка сайта или мобильного приложения невозможна без обратной связи. Мы всегда готовы обсудить детали разработки и ответить на все возникающие вопросы.</p>
                        <%= image_tag "b_phone_2.png"%>

            <p>Создание и разработка сайта или мобильного приложения невозможна без обратной связи. Мы всегда готовы обсудить детали разработки и ответить на все возникающие вопросы.</p>
            
            <p>Создание и разработка сайта или мобильного приложения невозможна без обратной связи. Мы всегда готовы обсудить детали разработки и ответить на все возникающие вопросы.</p>
            
            <p>Создание и разработка сайта или мобильного приложения невозможна без обратной связи. Мы всегда готовы обсудить детали разработки и ответить на все возникающие вопросы.</p>
            
            <p>Создание и разработка сайта или мобильного приложения невозможна без обратной связи. Мы всегда готовы обсудить детали разработки и ответить на все возникающие вопросы.</p>
                   
     
        <div class="clearfix"></div>
        
    </div>
</div>
<div class="business" style="background:white;">
    <div class="wrapper small-text">
</div>
</div>