        <div class="references-box">
            <div class="reference bbtechnik" data-name="bbtechnik" >
                <div class="box">
                <%=image_tag "ref_seo.jpg", alt: "seo" %>
                    <a class="button"  href="/seo">
                        <span>Подробнее</span>
                    </a>
                    <div class="more"></div>
                </div>
            </div>
            <div class="reference copaline" data-name="SMM">
                <div class="box">
                    <%=image_tag "ref_smm.jpg", alt: "SMM" %>
                    <a class="button" href="/smm"><span>Подробнее</span></a>
                    <div class="more"></div>
                </div>
            </div>
            <div class="reference temnekecy" data-name="temnekecy">
                <div class="box">
                    <%=image_tag "ref_direct.jpg", alt: "яндекс директ, google adwords" %>
                    <a class="button" href="/direct"><span>Подробнее</span></a>
                    <div class="more"></div>
                </div>
            </div>
            <div class="reference galard" data-name="galard">
                <div class="box">
                    <%=image_tag "ref_mobile.jpg", alt: "мобильные приложения" %>
                    <a class="button" href="mobile"><span>Подробнее</span></a>
                    <div class="more"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>