<%= content_for :title, "Настройка конктекстной рекламы в яндекс директ и google adwords | Digital Shark"%>
<div class="bg"></div>
<div id="rocks_big"></div>
<div id="rocks_small"></div>
<div class="home" id="home">
    <div class="wrapper">
        <div class="welcome">
            <ol class="breadcrumb breadcrumb-custom">
              <li><a href="/" data-turbolinks="false">Главная</a></li>
              <li class="active">Контекстная реклама</li>        
            </ol>
            <h1>
                <span class="red">Контекстаная реклама</span><br>
                 яндекс директ и google adwords
            </h1>
            <button class="cursor-norm"><a class="no-dec" href="#mobile" data-turbolinks="false">Подробнее</a></button>
        </div>
        <object id="svg-enter" type="image/svg+xml" data="img/enter.svg">Ваш браузер не поддерживает SVG</object>
        <object id="svg-cloud" type="image/svg+xml" data="img/cloud.svg">Ваш браузер не поддерживает SVG</object>
        <object id="svg-moon" type="image/svg+xml" data="img/moon.svg">Ваш браузер не поддерживает SVG</object>
        <div class="clearfix"></div>
    </div>
</div>

<div class="designer" id="services">
    <div class="wrapper " id="mobile">
        <div class=" direct-second-block-div">
            <h2>Настройка контекстной рекламы</h2>
            <p>
            Контестная реклама - это проплаченные позиции в выдаче яндекса и гугла. Не путать с <a href="/seo">seo продвижением</a>. 
            </p>

                <%=image_tag "direct.png", class: "mobile-img img"%>
                <p>Яндекс директ и google adwords - это инструменты, которые позволяют эту рекламу настроить. Вы можете сделать это самостоятельно, а можете доверить дело профессионалам. Цена зависит от тематика и объема ключей. От 6000 рублей.
             </p>
                 
            <p>Позвоните нам по телефону:+7(992) 334 01 54</p>
            <p>Или напишите на почту: optimagp66@gmail.com</p>
            <p>@jessyjames721 - телеграмм для оперативной связи</p>
             <br><br><br><br><br>
        </div>
        
        <div class="clearfix"></div>
    </div>
</div><!--end designer-->
