<!--[if lt IE 9]>
    Ващ браузер устарел <a href="http://browsehappy.com/">скачайте современный браузер</a></p>
<![endif]-->
<%= content_for :title, "Создание и разработка сайтов под ключ | Digital Shark"%>

<div class="bg"></div>
<div id="rocks_big"></div>
<div id="rocks_small"></div>

<div class="home" id="home">
    <div class="wrapper">
        <div class="welcome">
            <h1>
                <span class="red">Мобильные и веб приложения</span><br>
                
            </h1>
            <button><span>Подробнее</span></button>
        </div>
        <object id="svg-enter" type="image/svg+xml" data="img/enter.svg">Ваш браузер не поддерживает SVG</object>
        <object id="svg-cloud" type="image/svg+xml" data="img/cloud.svg">Ваш браузер не поддерживает SVG</object>
        <object id="svg-moon" type="image/svg+xml" data="img/moon.svg">Ваш браузер не поддерживает SVG</object>
        <div class="clearfix"></div>
    </div>
</div>

<div class="designer" id="services">
    <div class="wrapper">
        <object id="svg-design" type="image/svg+xml" data="img/design.svg">Ваш браузер не поддерживает SVG</object>
        <div class="text-box">
            <h2>Создание, разработка сайтов. Дизайн</h2>
            <p>Создание логотипа, дизайн бренда. Разработка концепции и фирменного стиля.</p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="developer" >
    <div class="wrapper">
        <object id="svg-code" type="image/svg+xml" data="img/code.svg">Ваш браузер не поддерживает SVG</object>
        <div class="text-box">
            <h2>Создание и разработка сайтов. Шаг второй</h2>
            <p>Будет это сайт интернет магазина или мобильное приложение, наши програмисты сделают все на высшем уровне.</p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="business">
    <div class="wrapper">
        <object id="svg-business" type="image/svg+xml" data="img/business.svg">Ваш браузер не поддерживает SVG</object>
        <div class="text-box">
            <h2>Открытое общение</h2>
            <p>Создание и разработка сайта или мобильного приложения невозможна без обратной связи. Мы всегда готовы обсудить детали разработки и ответить на все возникающие вопросы.</p>
        </div>
        <div class="clearfix"></div>
        <div class="process">
            <div class="arrow-left"></div>
            <div class="swiper-container process-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="img/process01.svg" alt="proces1">
                        <h3>1. Анализ и сбор данных</h3>
                        <p>Мы тщательно проанализируем ваши требования и предложим лучшие решения.</p>
                    </div>
                    <div class="swiper-slide">
                        <img src="img/process02.svg" alt="proces2">
                        <h3>2. Согласование цены на создание сайта</h3>
                        <p>Продвижение сайта, создание интернет магазина или разработка мобильного приложения под iOS или android? Наши цены вас приятно удивят.</p>
                    </div>
                    <div class="swiper-slide">
                        <img src="img/process03.svg" alt="proces3">
                        <h3>3. Презентация и корректировки</h3>
                        <p>
                            Показ и доработка макетов, созданных нашими дизайнерами.
                        </p>
                    </div>
                    <div class="swiper-slide">
                        <img src="img/process04.svg" alt="proces4">
                        <h3>4. Создание и разработка сайта</h3>
                        <p>Начинается самый важный процесс. Непосредственно создание и разработка. Наши программисты работают по ночам, чтобы успеть точно в срок.</p>
                    </div>
                    <div class="swiper-slide">
                        <img src="img/process05.svg" alt="proces5">
                        <h3>5. Разработка под ключ завершена</h3>
                        <p>Разработка завершена. Время для следующего этапа.</p>
                    </div>
                </div>
            </div>
            <div class="arrow-right"></div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>


<a id="references"></a>
<div class="references" id="works">
    <div class="wrapper">
        <div class="animation-cover"></div>
        <div class="factory-wrap">
            <object id="svg-factory" type="image/svg+xml" data="img/factory.svg">Ваш браузер не поддерживает SVG</object>
            <object id="svg-factory-pipe" type="image/svg+xml" data="img/factory_pipe.svg">Ваш браузер не поддерживает SVG</object>
            <div id="switch"></div>
        </div>
        <%= render "shared/references"%>

        <div class="boxes">
            <img id="svg-boxes" src="img/boxes.svg"/>
            <div class="text-box">
                <span class="like-h2">Конец</span>
                <p> Создание и разработка сайта закончены <br> Теперь стоит подумать о его продвижении. Хотите узнать больше?</p>
                <a href="&#x6d;&#97;il&#116;&#x6f;&#58;&#x69;nf&#111;&#64;&#118;&#x69;&#122;&#x75;&#97;.s&#107;" class="button open-form"><span>Я хочу продающий сайт!</span></a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="about" id="about">
    <div class="wrapper">

        <object id="svg-about" type="image/svg+xml" data="img/about.svg">Ваш браузер не поддерживает SVG</object>
        <div class="text-box">
            <span class="like-h2">Давайте познакомимся</span>
            <p>Приглашаем Вас в офис нашей компании. Там мы сможем детальнее обсудить ваши пожелания и обо всем договориться.</p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<%= render "shared/contacts"%>  


<div class="reference-window">
        <span class="icon-close close"></span>
    <span class="icon-arrow-left prev"></span>
    <span class="icon-arrow-right next"></span>

    <div class="swiper-container reference-slider">
        <div class="swiper-wrapper">

        </div>
    </div>
</div>

<div class="form-window">
    <span class="icon-close close"></span>
    <div class="swiper-container form-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide" id="slide-name">
                <div class="slide-content">
                    <label for="name">Добрый день. Мы Digital Shark, а вы?</label>
                    <input type="text" name="name" id="name"/>
                    <p>Пожалуйста напишите ваше имя или название компании.</p>
                    <span class="error"></span>
                    <button class="next"><span>далее</span></button>
                </div>
            </div>
            <div class="swiper-slide" id="slide-contact">
                <div class="slide-content">
                    <label for="contact">Мы любими общаться! И хотели бы узнать как сможем наладить с вами партнерские отношения.</label>
                    <input type="text" name="contact" id="contact"/>
                    <p>Пожалуйста, укажите ваш номер телефона.</p>
                    <span class="error"></span>
                    <button class="prev"><span>назад</span></button>
                    <button class="next"><span>далее</span></button>
                </div>
            </div>
            <div class="swiper-slide" id="slide-info">
                <div class="slide-content">
                    <label for="info">Напишите больше информации о вашем проекте. Пишите много! Минимум 11 символов!</label>
                    <textarea name="info" id="info"></textarea>
                    <p>Например, продвижение существуюшего сайта или создание интернет магазина.</p>
                    <span class="error"></span>
                    <button class="prev"><span>назад</span></button>
                    <button class="next"><span>далее</span></button>
                </div>
            </div>
            <div class="swiper-slide" id="slide-budget">
                <div class="slide-content">
                    <label for="budget">Сколько денег вы бы хотели инвестировать в ваш проект,</label>
                    <input type="text" name="budget" id="budget"/>
                    <p>Ожидаемый бюджет поможет соотнести ваши ожидания и найти подходящие варианты</p>
                    <span class="error"></span>
                    <button class="prev"><span>назад</span></button>
                    <button class="next send"><span>далее</span></button>
                </div>
            </div>
            <div class="swiper-slide" id="slide-finish">
                <div class="slide-content">
                    <img src="img/kite.svg" class="kite" alt="kite"/>
                    <label for="q3">Спасибо, это все. Мы ответим вам очень скоро!</label>
                    <p>Мы отвечаем в течении 24 часов, если конечно мы не остались без связи на необитаемом острове посреди тихого океана :-)</p>
                </div>
            </div>
            <div class="swiper-slide" id="slide-success">
                <div class="slide-content">
                    <label for="q3">Сообщение успешно отправлено</label>
                    <button class="close"><span>закрыть</span></button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
var lang = "ru";
var formErrors = {"n1":"Напишите, пожалуйста, Ваше имя.","n2":"Пожалуйста, заполните контактную информацию.","n3":"Пожалуйста, напишите информацию о проекте. Минимум 11 символов"};
</script>


<script src="http://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyB2PkXKkXydN5BNoJTio-PewFMGpioaiTY&language=ru"></script>
