<%= content_for :title, "Разработка мобильных приложений под iPhone(iOS), Android в Екатеринбурге | Digital Shark"%>
<div class="bg"></div>
<div id="rocks_big"></div>
<div id="rocks_small"></div>
<div class="home" id="home">
    <div class="wrapper">
        <div class="welcome">
     	<ol class="breadcrumb breadcrumb-custom">
    		<li><a href="/" data-turbolinks="false">Главная</a></li>
   	    	<li class="active">Мобильные приложения</li>        
		</ol>

            <h1>
                <span class="red">Разработка приложений</span><br>
                iOS Android Windows Phone 
            </h1>
            <button class="cursor-norm"><a class="no-dec" href="#mobile" data-turbolinks="false">Подробнее</a></button>
        </div>
        <object id="svg-enter" type="image/svg+xml" data="img/enter.svg">Ваш браузер не поддерживает SVG</object>
        <object id="svg-cloud" type="image/svg+xml" data="img/cloud.svg">Ваш браузер не поддерживает SVG</object>
        <object id="svg-moon" type="image/svg+xml" data="img/moon.svg">Ваш браузер не поддерживает SVG</object>
        <div class="clearfix"></div>
    </div>
</div>

<div class="designer" id="services">
    <div class="wrapper mobile-second-block" id="mobile">
    <%=image_tag "mobile-application-development.png", class: "mobile-img img"%>
        <div class="text-box">
            <h2>iPhone, Android, Windows Phone</h2>
            <p>Нативные приложения под все платформы. Оставьте заявку для рассчета стоимости.</p>
            
            <p>Позвоните нам по телефону:+7(992) 334 01 54</p>
            <p>Или напишите на почту: optimagp66@gmail.com</p>
            <p>@jessyjames721 - телеграмм для оперативной связи</p>
        </div>
        
        <div class="clearfix"></div>
    </div>
</div><!--end designer-->
<%render "shared/mobile3"%>
