<style>
	html,body {
 		background:none!important;
 		background-color: none!important;
 	}
</style>
 <center>
	<h1 style="margin-top:200px">
		Спасибо за заявку. Мы свяжемся с вами в ближайшее время!
	</h1>
	<p>
	  <a href="/" data-turbolinks="false" turbolinks-track="false">На главную</a>
	</p>
</center>